* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body  {
    background:rgb(192,192,192); 
}
header {
    height: 90px;
}
.logo {
    background-color: green;
    width: 75px;
    height: 40px;
    margin: 5px;
    top: 0px;
    left: 0px;
    border-radius: 5%;
    position: relative;
}
.title {
    background-color: rgb(140, 228, 26);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 72%;
    height: 35px;
    padding: 5px 10px;
    left: 95px;
    top: -43px;
    position: relative;
}    
.nav .menu {
        display: inline;
        width: 10px;
        height: 0px;
        justify-content: flex-end;
        color: black;
        font-size: .5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: relative;
        left: 8px;
        top: -30px;
    }
    .li {
        list-style: none;
    }
    .submenu-boton1,
    .submenu-boton2,
    .submenu-boton3,
    .submenu-boton4 {
        display: none;
        background-color:white;
        position: fixed;
    }
    a {
        text-decoration: inherit;
        color: black;
        padding: 1px 5px;
    }
    .boton1,
    .boton2,
    .boton3,
    .boton4 {
        width: 40px;
        height: 40px;
        overflow-y: none;
        border: 2px solid, black;
        text-decoration: none;
    }
   
    .li:hover {
        position: initial;
    }
    .li:hover .submenu-boton1 {
        display: flex;
        position: fixed;
        width: unset;
        height: 11px;
        margin-top: 1;
        top: 54px;
        left: 44px;
    }
    .li:hover .submenu-boton2 {
        display: flex;
        position: fixed;
        width: unset;
        height: 11px;
        margin-top: 1px;
        top: 62px;
        left: 44px;
    }
    .li:hover .submenu-boton3 {
        display: flex;
        position: fixed;
        width: unset;
        height: 11px;
        top: 72px;
        left: 44px;
    }
    .li:hover .submenu-boton4 {
        display: flex;
        position: fixed;
        width: unset;
        height: 10px;
        margin-top: 1px;
        top: 81px;
        left: 44px;
    }
    .boton1 {
        background-color: white;
    }
    .boton2,
    .submenu-boton2 {
        background-color: white;
    }
    .boton3,
    .submenu-boton3 {
        background-color: white;
    }
    .boton4,
    .submenu-boton4 {
        background-color: white;
}
.parrafo {
    color: blue;
    width: 100%;
    background-color: rgb(35, 248, 124);
    font-size: 20px;
    border-radius: 2px;
}
h3 {
    color: forestgreen;
    width: 100%;
    background: gold;
    font-size: 20px;
    padding-top: 10px;
}