body 
{
    background: deepskyblue;
    color: darkseagreen;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0%;
}
h1 {
    width: 90%;
    height: 65px;
    background-color: blue;
    margin-top: 20px;
    border: 7px solid pink;
    border-radius: 10px;
}
h2 {
    color: royalblue;
    font-size: 4em;
}
p
{
    color: rgb(61, 228, 250);
    background-color: coral;
    font-size: 3em;
}
h3
{
    color: forestgreen;
    background: gold;
    font-size: 3em;
}