body 
{
    background: deepskyblue;
    color: darkseagreen;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0%;
}
h1 {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    background-color: chartreuse;
}
h2 {
    color: royalblue;
    font-size: 4em;
    margin-top: 15px;
}
.parrafo
{
    color: rgb(61, 228, 250);
    background-color: red;
    font-size: 3em;
    border-radius: 2px;
}
p
{
    color: seagreen;
    font-family: cursive;
    font-size: 15;
    background-color: seashell;
    padding: 10px;
}
h3
{
    color: forestgreen;
    background: gold;
    font-size: 3em;
    padding-top: 10px;
}